.navHamListOuter {
  overflow-y: scroll;
  display: none;
  height: 110vh;
  width: 100%;
  top: -5rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 30;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}
.navhamlist {
  height: 60rem;
  width: 100%;
  position: absolute;
  top: 15rem;
  left: 0;
  z-index: 10;
  background-color: white;

  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
  &-box {
    margin-top: 37rem;
    height: 100vh;
    position: relative;
  }
}
.hidden {
  transition: all 0.5s;
  top: -170rem;
  opacity: 0;
  padding-top: 0 !important;
}
